.crawl-container {
  position: relative;
  height: 600px;
  padding: 0;
  justify-content: center;
  width: 100%;
}

img.logo {
  height: 200px;
}

.stars {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.stars {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;
}
.crawl {
  position: absolute;
  width: 18em;
  height: 40em;
  bottom: 55px;
  left: 50%;
  margin-left: -9em;
  font-size: 330%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(330px) rotateX(25deg);
}
.crawl:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}
.crawlcontent {
  position: absolute;
  top: 100%;
  animation: scroll 200s linear 12s;
}
.crawlcontent p {
  color: #ffe81f;
  font-size: 44pt;
  font-family: verdana;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Franklin     Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
}

@keyframes star-wars {
  0% {
    bottom: 0;
    left: 340px;
    background: #f00;
  }

  33% {
    bottom: 340px;
    left: 340px;
    background: #ffd630;
  }

  66% {
    bottom: 340px;
    left: 40px;
    background: #ffd630;
  }

  100% {
    bottom: 0;
    left: 40px;
    background: #f00;
  }
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomInOut {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.5;
  }
  5% {
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
  }
  99% {
    transform: scale(0.1);
  }
  100% {
    opacity: 0;
  }
}
.fade-in {
  margin-top: -300px;
  font-family: "Franklin Gothic Medium", "Franklin     Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 20pt;
  opacity: 0;
  color: white; /* make things invisible upon start */
  -webkit-animation: fadeInOut ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeInOut ease-in 1;
  animation: fadeInOut ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 0)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.fade-in-logo {
  margin: -100px auto 0 auto;
  display: block;
  opacity: 0;
  color: white; /* make things invisible upon start */
  -webkit-animation: zoomInOut ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: zoomInOut ease-in 1;
  animation: zoomInOut ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 0)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 8.7s;
  -moz-animation-delay: 8.7s;
  animation-delay: 8.7s;
}
