.container .random-planet {
  display: flex;
  padding: 1rem;

  background-color: rgb(7, 54, 66, 0.4);
  color: rgb(199, 202, 202);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet .list-group {
  margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
  padding: 0.25rem;
}

.random-planet .list-group-item .term {
  margin-right: 0.5rem;
}
