.item-details {
  position: relative;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  cursor: default;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .item-details {
    height: 100%;
  }
}

.item-details .item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-position: left top;
  object-fit: cover;
  transition: 0.5s;
}

.item-details:hover .item-image {
  opacity: 0;
}

.item-details .card-body {
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 90%;
  height: 40px;
  background: rgba(32, 62, 70, 0.7);
  transition: 0.5s;
  overflow: hidden;
  color: rgb(199, 202, 202);

  padding: 15px;
}

.item-details:hover .card-body {
  width: 100%;
  height: 100%;
  background-color: rgb(7, 54, 66, 0.4);
  bottom: 0;
  left: 0;
}

.item-details .card-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.item-details:hover .card-title {
  margin-bottom: 30px;
  color: #00bc8c;
}

.item-details .list-group-item {
  padding: 0.25rem;
}

.item-details .list-group-item .term {
  margin-right: 0.5rem;
}

.item-details .card-text {
  padding: 7px 0;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}

.item-details:hover .card-text {
  opacity: 1;
  transition-delay: 0.5s;
}

/* .item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #444;
  margin-top: 5px;
}

.item-details .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: 0.25rem;
}

.item-details .list-group-item .term {
  margin-right: 0.5rem;
} */
