.header {
  align-items: center;
  margin-top: 0.5rem;
  justify-content: center;
  margin-bottom: 15px;
}

.header .list {
  margin: 0;
  padding: 0;
}

.header .item {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;

  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a:hover {
  text-decoration: none;
}
.header .logo {
  display: block;
  position: relative;
  height: 100px;
  width: 160px;
}
.header .logo img {
  position: absolute;
  height: 100px;
  transition: 0.5s;
  margin-top: 10px;
}
.header .logo:hover img {
  margin-top: 5px;
  height: 110px;
}

.item .link {
  position: absolute;
  display: block;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #00bc8c;
  font-size: 14px;
  letter-spacing: 2px;
  overflow: hidden;

  width: 130px;
  text-align: center;
}
.item .link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: -100%;
  background: #00bc8c;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.item .link:hover:before {
  left: 100%;
}

.item .link span:nth-child(odd) {
  position: absolute;
  display: block;
  width: 100px;
  height: 1px;
  background: #00bc8c;
  transition: 0.5s ease-in-out;
}

.item .link span:nth-child(1) {
  top: 0;
  left: 95%;
}
.item .link span:nth-child(3) {
  bottom: 0;
  right: 95%;
}
.item .link:hover span:nth-child(1) {
  top: 0;
  left: -50%;
}
.item .link:hover span:nth-child(3) {
  bottom: 0;
  right: -50%;
}

.item .link span:nth-child(even) {
  position: absolute;
  display: block;
  width: 1px;
  height: 50px;
  background: #00bc8c;
  transition: 0.5s ease-in-out;
}

.item .link span:nth-child(2) {
  top: 70%;
  left: 0;
}
.item .link span:nth-child(4) {
  bottom: 70%;
  right: 0;
}
.item .link:hover span:nth-child(2) {
  top: -50%;
  left: 0;
}
.item .link:hover span:nth-child(4) {
  bottom: -50%;
  right: 0;
}

.pulse_btn {
  color: #002b36;
  background: rgb(0, 188, 140, 0.7);
  margin: 5px 5px 0 5px;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  animation: pulse 3s linear infinite;
  z-index: 999;
}

.pulse_btn:hover {
  color: #224953;
  text-shadow: 0 0 1px #02191f;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 188, 140, 0.7), 0 0 0 0 rgba(0, 188, 140, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(0, 188, 140, 0), 0 0 0 0 rgba(0, 188, 140, 0.7);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(0, 188, 140, 0), 0 0 0 5px rgba(0, 188, 140, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 188, 140, 0), 0 0 0 5px rgba(0, 188, 140, 0);
  }
}
